body {
    font-family: 'Courier New', monospace;
    background-color: lightgrey;
}

h2, p, .readme-wrapper {
    text-align: center;
}

a {
    text-decoration: none;
    color: #5f2332;
}

a:hover {
    font-weight: bold;
    color: royalblue;
}

span {
    font-weight: 900;
    color: darkred
}

.boxes {
    margin: 3em;
    padding: 1em;
    border: 2px dashed #ff22ff;
    border-radius: 20px;
    width: 30em;
    display: block;
}       

#box1 {
    background-color: yellow;
}

#box2 {
    background-color: gold;
}

#boxN {
    background-color: darkgoldenrod;
}

.img-box {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: #010233;
    position: absolute;
    left: 6em;
}

h1 {
    color: saddlebrown;
}

.original {
    color: navy;
}

.additional {
    color: orangered;
}

#show1 {
    color: blueviolet;
}

#show2 {
    color: mediumvioletred;
}

.friends {
    color: darkorange;
}

.travel {
    color: darkblue;
}

.fav-restaurant {
    color: darkolivegreen;
}

.star {
    color: darkslateblue;
}

#wars {
    color: darkred;
}

.lists {
    border: 2px solid yellowgreen;
}
